body{
margin: 0;
background-color: rgb(0, 0, 0);
}
.home-content h1{
    color: red;
    margin-top: -450px;
font-size: 520%;
font-style: italic;

}
img{
    margin-left: 750px;
    margin-top: -1%;
}
.home-content h2{
    color: white;
    padding-left: 49%;
    padding-top: 68px;
    font-size: 220%;
}
.home-content h3{
    color:white;
    padding-left: 87%;
    margin-top: -68px;
    font-size: 220%;
}
.bio h1{
    color: white;
 padding-left: 15%;
 padding-top: 5%;
 font-size: 250%;
 color:  rgb(238, 241, 21);

}
.bio p{
    color: white;
    padding-left: 15%;
    font-size: 170%;

}

.biography h1{
    color: rgb(238, 241, 21);
    padding-left: 15%;
  

}
.biography p{
    color: white;
    padding-left: 15%;
    font-size: 140%;
}
.read p{
   color: white;
   padding-left: 70%;
 font-size: 120%;
 padding-top: 20px;
 
    
  
}
.rred a{
    color: rgb(250, 9, 9);
   margin-left: 90%;
   font-size: 150%;
   text-decoration: none;
  
     }
     .rred a:hover
{
    color: rgb(229, 241, 11);
    
}