
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

   
}
.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color:#ed650b;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
  padding-right: 0px;
}
.navbar a img{
    height: 40px;
    width: 39px;
    border-radius: 50%;
  }
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: rgb(6, 6, 6);
    font-display: bold;
    text-decoration: none;
    font-weight: 650;
    margin-left: 35px;
    transition: .3s;
  

}

.navbar a:hover,
.navbar a.active{
    color: rgb(249, 249, 9);
    
}
.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
  padding-top: 30px;
  
}



.home-content h1{
    font-size: 450x;
    font-weight: 550;
    margin: -3px 0;
    color: #ed650b;

}.home-content h3{
    padding-top: 10px;
    padding-left: 170px;
    font-size: 90px;
}

.btn{
    display: inline-flex;
    margin-left: 230px;
    padding: 12px 18px;
    background: #ed650b;
    border-radius: 40px;
    box-shadow: 0 0 10px #ed650b;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
   
}
.image a img{
    height: 300px;
    width: 220px;
    border-radius: 20px;
   
  }
  
.image a {
    display: inline-block;
 

}
.image{
    margin-top: -330px;
    margin-left: 850px;
   
}
.Hotel{
    color:#060606;
    margin-top: -270px;
    margin-left: 940px;
    font-weight: 900;
   font-display: bold;
   
}
.Beach{
    color:#060606;
    margin-top: -20px;
    margin-left: 1139px;
    font-weight: 900;
   font-display: bold;
   
}
.Nature{
    color:#060606;
    margin-top: -20px;
    margin-left: 1359px;
    font-weight: 900;
   font-display: bold;
   
}
.slider{
    color:#060606;
    margin-top: 250px;
    margin-left: 1150px;
    font-weight: 900;
   font-display: bold;
   
}
.slider h1{
    color: rgb(232, 128, 10);
   font-weight: 900;
}
.float{
    color: rgb(255, 0, 0);
    font-size: x-large;
}
.blanck{
    background-color:rgb(213, 206, 206);
}
.blanck a img{
    height: 300px;
    width: 470px;
   padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
   
  }
  .delhi{
    padding-left: 190px;
    padding-top: -300px;
    background-color: rgb(213, 206, 206);
  }
  .Mumbai{
    padding-left: 1150px;
    margin-top: -19px;
    background-color: rgb(213, 206, 206);
  }
  .Bang{
    padding-left: 650px;
    margin-top: -19px;
    background-color: rgb(213, 206, 206);
  }
  .india{
    background-color:rgb(213, 206, 206);
}
.india h1{
    padding-left: 30px;
    color: rgb(235, 16, 16);
}
.india p{
    padding-left: 40px;
}
.india a img{
    height: 250px;
    width: 240px;
   padding-left: 20px;
    padding-top: 30px;
    border-radius: 10px;
     }
.type{
    background-color:rgb(213, 206, 206);
}
.type h1{
    color: rgb(235,16,16);
    padding-left: 30px;
}
.type a img{
    height: 250px;
    width: 360px;
   padding-left: 20px;
    padding-top: 30px;
     }
.trip{
    background-color:rgb(213, 206, 206);
}
.trip h1{
    color: rgb(235,16,16);
    padding-left: 30px;
}
.trip p{
    
    padding-left: 50px;
}
.trip a img{
    height: 250px;
    width: 240px;
   padding-left: 20px;
    padding-top: 30px;
    border-radius: 10px;

     }
.stay{
    background-color:rgb(213, 206, 206);
}
.stay h1{
    color: rgb(235,16,16);
    padding-left: 30px;
}
.stay p{
    
    padding-left: 50px;
}
.stay a img{
    height: 250px;
    width: 240px;
   padding-left: 20px;
    padding-top: 30px;
     }

.love{
    background-color:rgb(148, 206, 229);
    height: 300px;
    margin-top: 10px;
}
.love h1{
    padding-left: 550px;
}
.bihar{
    padding-left: 30px;
    padding-top: 20px;
    font-size: larger;
}
.up{
    padding-left: 320px;
  margin-top: -180px;
  font-size: larger;
}
.zan{
    padding-left: 620px;
    margin-top: -175px;
    font-size: larger;
}
.lake{
    padding-left: 940px;
    margin-top: -175px;
    font-size: larger;
}
.cornwall{
    padding-left: 1270px;
    margin-top: -175px;
    font-size: larger;
}
.bootom{
    background-color: rgb(1, 75, 109);
    height: 200px;
}
.input{
    height: 40px;
    width: 600px;
    margin-top: 40px;
    margin-left:450px ;
    border-radius: 20px;
    padding-left: 90px;
}
.Submit{
    height:40px ;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 243);
    border-radius: 20px;
    box-shadow: #ed650b;
}
.bootom h1{
    color: white;
    padding-left: 550px;
}
.bootom p{
    color: white;
    padding-left: 550px;
    padding-top: 30px;
}
.g{background-color: rgb(213, 206, 206);
    padding-left: 10px;
    padding-top: -300px;}
.h{background-color: rgb(213, 206, 206);
    padding-left: 265px;
    margin-top: -30px;}

.i{background-color: rgb(213, 206, 206);
    padding-left: 510px;
    margin-top: -35px;}

.j{background-color: rgb(213, 206, 206);
    padding-left: 755px;
    margin-top: -50px;}

.k{background-color: rgb(213, 206, 206);
    padding-left: 1005px;
    margin-top: -30px;}

.l{background-color: rgb(213, 206, 206);
    padding-left: 1240px;
    margin-top: -30px;}
.a{background-color: rgb(213, 206, 206);
    padding-left: 17px;
    margin-top: -2px;}
.b{background-color: rgb(213, 206, 206);
    padding-left: 385px;
    margin-top: -30px;}
 .c{background-color: rgb(213, 206, 206);
    padding-left: 755px;
    margin-top: -37px;}
  .d{background-color:rgb(213, 206, 206);
     padding-left: 1120px;
     margin-top: -37px;}
.aa{background-color:rgb(213, 206, 206);
     padding-left: 17px;
    margin-top: -2px;}
 .bb{background-color: rgb(213, 206, 206);
     padding-left: 265px;
    margin-top: -30px;}
.cc{background-color: rgb(213, 206, 206);
     padding-left: 510px;
     margin-top: -37px;}
.dd{background-color: rgb(213, 206, 206);
     padding-left: 1000px;
     margin-top: -37px;}
                                                                                    
.ee{background-color: rgb(213, 206, 206);
    padding-left: 755px;
    margin-top: -37px;}
.ff{background-color: rgb(213, 206, 206);
     padding-left: 1245px;
    margin-top: -37px;}
.aaa{background-color: rgb(213, 206, 206);
     padding-left: 19px;
     margin-top: -2px;}
.bbb{background-color: rgb(213, 206, 206);
     padding-left: 265px;
    margin-top: -57px;}
   .ccc{background-color: rgb(213, 206, 206);
        padding-left: 510px;
        margin-top: -55px;}
                                                                                                                               